@model string

@{
    ViewBag.Title = "EncryptPasswords";
    Layout = "~/Views/Shared/_LogInOutLayout.cshtml";
}

<h2>EncryptPasswords</h2>

<div class="form-group">
    @using (Html.BeginForm())
    {
        <label>Enter email password:</label>
        <input name="EmailPassword" class="form-control" />
        <input type="submit" class="form-control" />

    }
</div>

