@model Tasks.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LogInOutLayout.cshtml";
}

<h2>Hi, @Model.UserId</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.UserId)
    @Html.HiddenFor(x => x.Token)
    <div class="form-group">
        <label>Enter new password:</label>
        <input type="password" name="newPwd" />
    </div>
    <input value="Change" type="submit"/>
}

