@model Tasks.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LogInOutLayout.cshtml";
}

<h2>ForgotPassword</h2>

@using (Html.BeginForm("ForgotPassword", "Auth", FormMethod.Post))
{
    <div class="form-group">
        @Html.ValidationSummary()
        @TempData["Error"]
        <table>
            <tbody>
                <tr>
                    <td>@Html.LabelFor(x => x.Email)</td>
                    <td>@Html.TextBoxFor(x => x.Email, new { @class = "form-control" })</td>

                </tr>
                <tr>
                    <td><input type="submit" value="Reset" class="btn btn-primary" /></td>
                </tr>
            </tbody>
        </table>
    </div>

}